# Python virtual environments
venv/
.env/

# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter checkpoints
.ipynb_checkpoints/

# Large files
models/*
data/*

# System files
.DS_Store
Thumbs.db
