streamlit>=1.32.0
plotly>=5.20.0
pandas>=2.2.0
numpy>=1.26.0
matplotlib>=3.8.0
wordcloud
pydub
moviepy==1.0.3
opencv-python>=4.9.0
fer
speechrecognition
textblob>=0.18.0
transformers>=4.39.0
torch>=2.2.0
huggingface-hub
tqdm
fpdf>=1.7.2
reportlab>=4.2.0